
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>NOTADO</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <link href="~/LoginFonts/css/login.css" rel='stylesheet' type='text/css' />
    <!--webfonts-->
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'>
    <!--/webfonts-->
    <link rel="shortcut icon" href="~/LoginFonts/images/favicon.ico" />

</head>
<body>
    <!--start-main-->
    <h1 id="h1Login">Bem Vindo!<span>Entre no Notado:</span></h1>
    <div class="login-box">
        <form action="/Login/Autentica" method="post">
            <input type="text" class="text" value="Usuário" name="login" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Usuário';}">
            <input type="password" value="Senha" name="senha" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Senha';}">

            @*<div class="remember">
                    <a href="#"><p>Remember me</p></a>
                    <h4>Forgot your password?<a href="#">Click here.</a></h4>
                </div>*@

            <div class="btn">
                <button class="btnLogin" type="submit" value="">ENTRAR</button>
            </div>
            <div class="clear"> </div>
    </div>
    <!--//End-login-form-->
    </form>
</body>
</html>
