@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Bem Vindo!</h1>
    <p class="lead">O Notado é feito para gerenciar as notas e cadastros da sua escola da melhor forma possível</p>
    
</div>

