
@{
    ViewBag.Title = "Index";
}

@model Notado.ViewModels.TurmaViewModel

    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Ensino</th>
                <th scope="col">Ano</th>
                <th scope="col">Divisor</th>
                <th scope="col">Editar</th>
                <th scope="col">Excluir</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var Turma in ViewBag.Turmas) {
            <tr>
                <th scope="row">@Turma.Id</th>
                <td>@Turma.Ensino</td>
                <td>@Turma.Ano</td>
                <td>@Turma.Divisor</td>
                <td><a href="/Turma/Editar/@Turma.Id" class="btn btn-primary" >Editar</a></td>
                <td><a href="/Turma/Excluir/@Turma.Id" class="btn btn-primary">Excluir</a></td>
                
            </tr>
            }
        </tbody>
    </table>
