@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="card">
        <div class="card-body">
            <h1 class="card-title">Adicionar Usuários</h1><br />
            @using (Html.BeginForm("Adicionar", "Usuario", FormMethod.Post))
            {

                <div class="form-group row">
                    <div class="col">
                        <label for="Nome">Usuário <h11>*</h11></label>
                        <input id="Nome" name="usuarioViewModel.Nome" placeholder="" class="form-control" required="" type="text">
                    </div>
                    <div class="col">
                        <label for="Senha">Senha <h11>*</h11></label>
                        <input id="Senha" name="usuarioViewModel.Senha" class="form-control" required="" type="password">
                    </div>
                    <div class="col">
                        <label for="Autorizacao">Autorizacao <h11>*</h11></label>
                        <select required id="Autorizacao" name="UsuarioViewModel.Autorizacao" class="form-control">
                            <option value=""></option>
                            <option value="0">Administrador</option>
                            <option value="1">Professor</option>
                            <option value="2">Aluno</option>
                        </select>
                    </div>
                </div>
                <div class="row container-fluid">
                    <div class="col-md-8 justify-content-end">
                        <button id="Cadastrar" name="Cadastrar" class="btn btn-success" type="Submit">Cadastrar</button>
                        <button id="Cancelar" name="Cancelar" class="btn btn-danger" onclick="window.location.href = '/Aluno';">Pular</button>
                    </div>
                </div>

            }
            </div>
        </div>
